---
layout: page
---


{% for project in site.data.projects %}
<h3 class="dark-text" id="{{ project.id }}">{{project.code}} &ndash; {{project.title }}</h3>

<div class="project-row">
    <div class="project-left">
        <img src="{{ project.image }}">
    </div>
    <div class="project-right">
        <p>{{ project.description }}</p>
        {% if project.terms %}
            The project website{% if project.terms.size > 1 %}s{% endif %} can be found at the following link{% if project.terms.size > 1 %}s{% endif %}:
            {% for term in project.terms %}
            {{ term | markdownify | replace: '<a ', '<a target="_blank" ' | remove: '<p>' | remove: '</p>' | strip }}{% unless forloop.last %},{% endunless %}
        {% endfor %}

        {% endif %}
    </div>
</div>
{% endfor %}






<style>
    html,
    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .project-row {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .project-left {
        flex: 1;
        padding-right: 15px;
        text-align: center;
    }

    .project-right {
        flex: 2;
    }

    .project-left img {
        max-width: 100%;
        height: auto;
    }

    footer {
        margin-top: auto;
        /* This ensures the footer sticks to the bottom */

    }
</style>